/*universal */

body {
  background-color: black;
  margin-top: 0px;
}

/* header */

header {
  display: flex;
  background-color: black;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  z-index: 1;
  position: fixed;
  align-items: center;

}

img.tea-logo {
  display: block;
  height: 50px;
  width: auto;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding right: 0px;
  align-items: center;
  justify-content: center;
}

a {
  color: seashell;
  text-decoration: underline;
}

nav {
  display: block;
  height: 65px;
  width: auto;
  flex-grow: 1;
  text-align: right;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  position: flex-end;
  font-family: Helvetica;
  font-size: 22px;
}


/* main content container */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}


/* our mission */

.our-mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  padding-top: 70px;
}

.main-image-content h2 {
  color: seashell;
  width: 1200px;
  background-color: black;
  padding: 10px 10px;
  font-family: Helvetica;
  font-size: 33px;
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.main-image-content h4 {
  color: seashell;
  width: 1200px;
  background-color: black;
  padding: 10px 10px;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.our-mission-text {
  align-content: center;
}

/* tea of the month */

.tea-month {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  padding-top: 70px;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 70px;
}

.tea-month-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  padding-bottom: 10px;
  padding-top: 20px;
}

.tea-month-text h2 {
  color: seashell;
  width: 1200px;
  background-color: black;
  padding: 10px 10px;
  font-family: Helvetica;
  font-size: 33px;
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.tea-month-text h4 {
  color: seashell;
  width: 1200px;
  background-color: black;
  padding: 10px 10px;
  font-family: Helvetica;
  font-size: 22px;
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.tea-month-images img {
  height: 200px;
  width: 300px;
  padding-right: 30px;
}

.tea-month-images span {
  display: block;
}

.tea-month-images div {
  align-items: flex-start;
}

.tea-month-captions {
  width: 300px;
  height: 26px;
  padding: 5px 5px;
  color: seashell;
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
}

/* locations */

.locations {
  justify-content: center;
  height: 500px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  padding-top: 70px;
  padding-bottom: 15px;
  align-items: center;
}

.locations-title {
  color: seashell;
  width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-top: 10px;
  font-family: Helvetica;
  font-size: 33px;
  text-align: center;
  margin: auto;
  opacity: 0.9;
}

.location-one span {
  display: block;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location-one h3 {
  color: seashell;
  text-align: center;
  font-size: 25.74px;
  font-weight: bold;
}

.location-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 300px;
  opacity: 1;
}

.location-two span {
  display: block;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location-two h3 {
  color: seashell;
  text-align: center;
  font-size: 25.74px;
  font-weight: bold;
}

.location-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 300px;
  opacity: 1;
}

.location-three span {
  display: block;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location-three h3 {
  color: seashell;
  text-align: center;
  font-size: 25.74px;
  font-weight: bold;
}

.location-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 300px;
  opacity: 1;
}

.location-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 1100px;
  margin: 0px 50px;
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 1000px;
  background-color: black;
  justify-content: center;
  align-content: center;
  margin-top: 10px;
}

.contact h2 {
  display: block;
  color: seashell;
  font-family: Helvetica;
  font-size: 33px;
  text-align: center;
  padding: 10px 10px;
  margin: 0px 0px;
}

.contact h5 {
  display: block;
  color: seashell;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

/* footer */

.copyright {
  z-index: 1;
}

.copyright p {
  text-align: left;
  margin-left: 20px;
  color: seashell;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
}
